/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:13px;
	line-height:1.231;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* app css stylesheet */
body{
    font-family: Arial, sans-serif;
}
a:link, a:visited{
    color:#333;
}
a{
    text-decoration:none;
}
.header{
    padding-top:35px;
    margin-left:55px;
}

.logo{
    font-size:25px;
    float:left;
    margin-right:5px;
    text-align:center;
    padding: 0 3px;
}

.search-bar{
    float:left;
}

.btn{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-weight:normal;
    text-align:center;
    vertical-align:center;
    cursor:pointer;
    border:1px solid transparent;
}

.btn:hover, .btn:focus{
    color: #333333;
    text-decoration:none;
}

.btn-default:hover{
    color: #333333;
    background-color: #ebebeb;
    border-color:#adadad;
}

.btn-default{
    background-color: #ffffff;
    border-color:#cccccc;
}

.clear{clear:both;}

.content{
    margin-top: 20px;
    margin-left: 20px;
}

ol {
    list-style:none;
    counter-reset:li;
}


#main-input{
    width:560px;
    height:22px;
}

ol#stars{
    padding: 18px 0 30px;
    list-style-type:none;
}

ol#stars li{
    margin-bottom:25px;
}

ol#stars article{
    z-index:0;
    padding-top: 3px;
    width:100%;
}

ol#stars h1{
    font-size:19px;
    line-height:1em;
    display:inline;
}

ol#stars header{
    margin-left: 77px;
    font-family: chaparral-pro, Palatino, Georgia, "Times New Roman", Times, serif;
}

ol#stars p, .edit-in-place textarea{
    margin-left: 77px;
    width:31.5%;
    font-size: 14px;
    padding-top: 2px;
}

ol#stars a{
    text-decoration:underline;
    color:#1b00a6;
}

.edit-in-place p {
  cursor: pointer;
}

.edit-in-place textarea{
    display: none;    
}

.edit-in-place.active p {
  display: none;
}

.edit-in-place.active textarea {
  display: inline-block;
}